.membership-checkout {
  .inner {
    opacity: 0;
    transition: opacity 0.3s;

    &.ready {
      opacity: 1;
    }

    .elementor-editor-active & {
      opacity: 1;
    }
  }


  .checkout {
    display: flex;
    gap: 48px;


    form {
      flex-grow: 1;

      .inputs {
        width: 100%;

        @include desktop {
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          flex-direction: row;
        }

      }

      .input {
        width: 100%;

        &.w50 {
          @include desktop {
            width: calc(50% - 12px);
          }

        }

        label {
          display: block;
          margin-bottom: 8px;
        }

        input {
          @include input-styles;

        }

      }


      .step {
        border-bottom: 1px solid $turquoise-light;
        gap: 16px;

        &.step-1 {
          border-top: 1px solid $turquoise-light;
        }

        &.inactive {
          .title {
            opacity: 0.5;
            pointer-events: none;
            user-select: none;
          }
        }

        .title {
          display: flex;
          gap: 8px;
          align-items: center;
          @include heading-medium;
          line-height: 0;
          user-select: none;
          cursor: pointer;
          padding: 16px 0;
          vertical-align: middle;

          .nr {
            width: 32px;
            height: 32px;
            background: $black;
            color: $white;
            text-align: center;
            border-radius: 16px;
            line-height: inherit;
            display: grid;
            place-content: center;

            span {
              transform: translateY(2px);
            }
          }

          .txt {
            margin: 0;
            font-weight: inherit;
            font-size: inherit;
            transform: translateY(2px);
            line-height: inherit;
          }
        }

        .fields {
          display: none;
          gap: 24px;
          flex-direction: column;
          padding-bottom: 32px;
          align-items: baseline;
        }

        &.active {
          .fields {
            display: flex;
          }
        }


        button.next-step {
          &.disabled {
            opacity: 0.5;
            pointer-events: none;
          }
        }
      }


      // --------------------------------------------------- //
      // STEP 1 - Select gym

      .gyms {
        display: flex;
        gap: 16px;
        overflow-x: auto;
        padding-bottom: 8px;


        @include desktop {
          flex-wrap: wrap;
          overflow: hidden;
        }


        button.item {
          @include normalize-button;
          display: flex;
          flex-direction: column;
          gap: 8px;
          font-weight: normal;
          //flex-grow: 1;
          flex-shrink: 0;
          width: 40vw;
          opacity: 0.3;
          transition: opacity 0.2s ease;

          @include hover {
            opacity: 0.7;
          }

          &.active {
            opacity: 1 !important;
          }

          @include desktop {
            width: calc(25% - 16px);
          }

          img {
            width: 100%;
            @include aspect-ratio(4, 2.7);
            background-color: $turquoise;
            border-radius: $border-radius;
            object-fit: cover;
            object-position: center;
          }

          .name {
            display: block;
          }

        }

      }


      // --------------------------------------------------- //
      // STEP 2 - Contect details
      .step-2 {
        position: relative;

        .loading {
          display: flex;
          align-items: center;
          gap: 24px;

          svg {
            width: 60px;
            height: auto;
          }

        }

        .more-fields {
          width: 100%;
        }

        .errors,
        .invalid-message {
          display: block;
          width: 100%;
          background: $red;
          color: $white;
          padding: 8px 16px;
          border-radius: 4px;

        }

      }

    }

    .sidebar {
      width: 100%;
      max-width: 360px;
      flex-shrink: 0;

      .toggle {
        display: flex;
        width: 100%;
        margin-bottom: 24px;

        button {
          @include normalize-button;
          background: transparent;
          border: 1px solid $turquoise-light;
          border-radius: 0;
          height: $input-height;
          width: 50%;


          &:first-child {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
          }

          &:last-child {
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
          }

          &.active {
            background-color: $turquoise-light;
          }
        }
      }


      .summary {
        gap: 16px;
        border: 1px solid $turquoise-light;
        border-radius: $border-radius;
        padding: 40px 32px;


        .title {
          display: flex;
          justify-content: space-between;
          gap: 24px;

          .name {
            @include heading-semi-big;
            color: $turquoise;
            flex-shrink: 0;
            min-width: calc(50% - 20px);
          }

          .prices {
            display: flex;
            flex-direction: column;

            .price {
              @include heading-semi-big;
              color: $turquoise;

              &.then {
                @include heading-medium;
                color: $gray;
                text-decoration: line-through;
              }
            }


          }

        }

        .usps {
          margin-top: 8px;

          .usp {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            align-items: center;

            .icon {
              flex-shrink: 0;
            }
          }
        }


        .break-down {
          padding-top: 24px;
          border-top: 1px solid $turquoise;
          margin-top: 24px;

          .row {
            display: flex;
            justify-content: space-between;

            &.total {
              font-weight: bold;
            }

            &.sale {
              color: $red;
            }
          }

        }

        .summary-notice {
          padding-top: 16px;
          font-size: $font-size-small;
        }

      }

      .help-txt {
        margin-top: 16px;

        a {
          text-decoration: underline;
          white-space: nowrap;
        }
      }

    }


  }


  // --------------------------------------------------- //
  // Payment

  .payment-provider {
    width: 100%;
  }


  .dev-notice {
    background: $yellow;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    font-size: 12px;
    margin: 8px 0;
  }

}